.file-drop-disabled{
    height: 227px;
}
.file-preview-frame{
    display: inline-block;
    float: none;
}
.input-group .file-caption-main, .file-actions, .fileinput-remove-button, .fileinput-upload, .btn-file>span, .file-upload-indicator, .kv-file-upload{
    display: none;
}
.file-caption-name{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: inherit;
}
.caption-overflow{
    width: 96%;
}
.table thead th, .table{
    text-align: center;
}
.table th:first-child, .table td:first-child{
    width: 5%;
}
/*.table th:last-child, .table td:last-child{
    width: 15%;
}*/
.dataTable thead .sorting:after, .dataTable thead .sorting:before{
    color: #000;
}
.icons-list i{
    font-size: 17px;
}
.icons-list i.btn{
    padding: 10px;
    line-height: 0;
}
.icons-list i.btn:hover{
    background-color: #ccc;
}