#circularG{
    position:relative;
    width:33px;
    height:33px;
    margin: auto;
}

.circularG{
    position:absolute;
    background-color:rgba(0,0,0,0.72);
    width:8px;
    height:8px;
    border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    animation-name:bounce_circularG;
    -o-animation-name:bounce_circularG;
    -ms-animation-name:bounce_circularG;
    -webkit-animation-name:bounce_circularG;
    -moz-animation-name:bounce_circularG;
    animation-duration:1.82s;
    -o-animation-duration:1.82s;
    -ms-animation-duration:1.82s;
    -webkit-animation-duration:1.82s;
    -moz-animation-duration:1.82s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}

#circularG_1{
    left:0;
    top:13px;
    animation-delay:0.68s;
    -o-animation-delay:0.68s;
    -ms-animation-delay:0.68s;
    -webkit-animation-delay:0.68s;
    -moz-animation-delay:0.68s;
}

#circularG_2{
    left:3px;
    top:3px;
    animation-delay:0.91s;
    -o-animation-delay:0.91s;
    -ms-animation-delay:0.91s;
    -webkit-animation-delay:0.91s;
    -moz-animation-delay:0.91s;
}

#circularG_3{
    top:0;
    left:13px;
    animation-delay:1.14s;
    -o-animation-delay:1.14s;
    -ms-animation-delay:1.14s;
    -webkit-animation-delay:1.14s;
    -moz-animation-delay:1.14s;
}

#circularG_4{
    right:3px;
    top:3px;
    animation-delay:1.37s;
    -o-animation-delay:1.37s;
    -ms-animation-delay:1.37s;
    -webkit-animation-delay:1.37s;
    -moz-animation-delay:1.37s;
}

#circularG_5{
    right:0;
    top:13px;
    animation-delay:1.6s;
    -o-animation-delay:1.6s;
    -ms-animation-delay:1.6s;
    -webkit-animation-delay:1.6s;
    -moz-animation-delay:1.6s;
}

#circularG_6{
    right:3px;
    bottom:3px;
    animation-delay:1.82s;
    -o-animation-delay:1.82s;
    -ms-animation-delay:1.82s;
    -webkit-animation-delay:1.82s;
    -moz-animation-delay:1.82s;
}

#circularG_7{
    left:13px;
    bottom:0;
    animation-delay:2.05s;
    -o-animation-delay:2.05s;
    -ms-animation-delay:2.05s;
    -webkit-animation-delay:2.05s;
    -moz-animation-delay:2.05s;
}

#circularG_8{
    left:3px;
    bottom:3px;
    animation-delay:2.28s;
    -o-animation-delay:2.28s;
    -ms-animation-delay:2.28s;
    -webkit-animation-delay:2.28s;
    -moz-animation-delay:2.28s;
}



@keyframes bounce_circularG{
    0%{
        transform:scale(1);
    }

    100%{
        transform:scale(.3);
    }
}

@-o-keyframes bounce_circularG{
    0%{
        -o-transform:scale(1);
    }

    100%{
        -o-transform:scale(.3);
    }
}

@-ms-keyframes bounce_circularG{
    0%{
        -ms-transform:scale(1);
    }

    100%{
        -ms-transform:scale(.3);
    }
}

@-webkit-keyframes bounce_circularG{
    0%{
        -webkit-transform:scale(1);
    }

    100%{
        -webkit-transform:scale(.3);
    }
}

@-moz-keyframes bounce_circularG{
    0%{
        -moz-transform:scale(1);
    }

    100%{
        -moz-transform:scale(.3);
    }
}