#history_form{
    width:960px;
    box-sizing: border-box;
    margin: 10% auto;
}
h1.hf{
    text-align: center;
    color:#6eb804;
    background-color:#FFFFFF ;
    box-sizing: border-box;
    margin-bottom: 10px;

    border: 1px solid #6eb804;
}
div.hf{
    clear: left;
    text-align: center;
    color:black;
    background-color:#FFFFFF ;
    box-sizing: border-box;
    border-top: 1px solid #6eb804;
    padding: 5px;
}

 div.no_hf{
    color:black;
    text-align: center;
    font-size: 18px;
    margin-top: 26px;
}

div.hf .stt{
    float: left;
    text-align: center;
    box-sizing: border-box;
    padding: 1% 10% 1% 1%;

}
div.hf a{
    text-align: center;
    float: left;
    color:black;
    text-decoration: none;
    padding: 1% 3% 1% 1%;
}
.clear{
    clear: both;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0; /* Chieu cao cua thanh phan bang 0 */
    line-height: 0; /* Khoang cach cua dong` bang 0 */
    visibility: hidden; /* Xac dinh thanh phan khong dc nhin thay */
}