@charset "UTF-8";
body{
    max-width: 100%;
}
/*-------------------------------------------HEADER----------------------------------------------------*/
mark{
    background-color: #6eb804 !important;
}

.do_login {
    cursor: pointer;
}
.do_login .do_login_toggle {
    margin-right: 0 !important;
    position: relative;
    padding-left: 50px !important;
}
.do_login .do_login_toggle:after {
    display: none !important;
}

.do_login .do_login_toggle span,
.do_login .do_login_toggle .btn-dropdown {
    display: inline-block;
}
.do_login .do_login_toggle img {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0px;
    left: 0;
    border-radius: 0;
    border: 1px solid #6EB804;
}
.do_login .do_login_toggle .btn-dropdown {
    padding-left: 10px;
}

.do_login .dropdown-menu {
    top: 105%;
    border: 2px solid #6EB804;
    width: 200px;
}

.do_login .dropdown-menu ul{
    padding: 0 !important;
    position: relative !important;
}
.dropdown-menu li.divider {
    margin: 4px 0;
}
.do_login .dropdown-menu li{
    list-style-type: none;
}

.do_login .dropdown-menu li a {
    margin-right: 0 !important;
    color: #000 !important;
    font-size: 13px !important;
    padding: 10px !important;
    text-decoration: none !important;
    transition: all 0.5s ease;
    font-weight: 600 !important;
}

.do_login .dropdown-menu li a:hover {
    color: #6EB804 !important;
}

.do_login .dropdown-menu li a:after {
    display: none !important;
}

.do_login.dropdown.open > a, 
.do_login.dropdown.open > a:hover, 
.do_login.dropdown.open > a:focus {
    background-color: transparent !important;
}

#header .navbar {
    background: #333;
    /* ctrl + shift + c */
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
    }

/* line 85, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
#header .navbar .btn-border {
    margin-top: 5px;
    height: 40px !important;
    line-height: 1 !important;
    padding: 5px 15px !important;
    width: auto !important;
    font-size: 17px;
    background: transparent;
    border: 2px solid #6EB804;
    color: #6EB804;
    font-weight: 500;
    transition: all 240ms ease;
}

/* line 97, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
#header .navbar .btn-lg {
    font-weight: 500;
}


#header .navbar .btn {
    border-radius: 5px;
    font-family: 'Lora', serif;
    outline:none;
}

/* line 103, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
#header .navbar .btn:hover {
    background-color: #6EB804;
    color: #000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* line 115, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
#header ul.navbar-nav li a {
    font-family: 'Lora', serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    /* position: relative; */
    margin-right: 20px;
    color: #fff;
    outline:none;
}

/* line 127, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
#header ul li a:hover {
    color: #6EB804;
}

/* line 129, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
#header ul li a:hover:after {
    width: 100%;
    left: 0;
}

/* line 135, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
#header ul li a:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #6EB804;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}


/* line 172, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
#content {
    /**/
}

/* line 175, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
#content .main-banner {
    background: transparent;
    position: relative;
    background: url(../img/bg.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    display: table;
    height: 100vh;
    width: 100%;
}

/* line 185, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
#content .main-banner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../img/pattern.svg) repeat center;
}

/* line 197, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
#content .main-banner .container {
    position: relative;
    z-index: 10;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #222;
    margin-top: 0;
    width: 100%;
}

/* line 206, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
#content .main-banner .container h1 {
    font-size: 48px;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Lora', serif;
    color: #222;
    font-weight: bold;
}

/* line 216, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
#content .main-banner .container #changeText {
    display: block;
    margin: 10px 0 20px 0;
    font-family: 'Lora', serif;
    font-size: 25px;
    line-height: 1.40455;
}

/* line 223, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */


/* line 225, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
#content .main-banner .container .input-group .label-icon {
    height: 74px;
    line-height: 76px;
    position: absolute;
    z-index: 3;
    font-size: 24px;
    top: 0;
    left: 0;
    font-weight: 300;
    padding: 0;
    margin: 0;
    width: 48px;
    vertical-align: middle;
    text-align: center;
    color: #7f7f7f;
}
#content .main-banner .container .input-group .icon.link2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 24px;
    z-index: 5;

    color: #6eb804;
}
#content .form-group{
    box-sizing: border-box;
    margin-left: 25%;
    width: 50%;
    margin-top:10%;
}
#content .check-url{
    position: relative;
    width: 100%;
    height: 60px;
}
#content .group-input{
    width: 70%;
    position: absolute;
    height: 100%;
}
#content .group-input:focus{
    box-shadow: inset 2px 3px 5px rgba(0,0,0,.15);
}
#content .group-input input{
    height: 100%;
    width: 100%;
    display: inline;
    top:0;
    position: relative;
    border:2px solid #6EB804;
    outline: none;
    padding:3% 6%;
    border-radius: 4px 0 0 4px;
    font-family: 'Lora', serif;
    font-size: 15px;
    outline: none;
}
#content .group-input .fa{
    position: absolute;
    top: 34%;
    left: 2%;
    z-index: 2;
    font-size: 17px;
}
#content .btn{
    top:0;
    right: 0;
    display: inline;
    position: absolute;
    width: 30%;
    height: 100%;
    border:1px solid #6EB804;
    padding:3% auto;
    border-radius: 0 4px 4px 0 ;
    color:#fff;
    background-color:#6EB804;
    font-family: 'Lora', serif;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;

}
/* line 243, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
/*#content .main-banner .container .website {
    width: 70%;
    float: left;
    transition: none;
}*/
/*#content .main-banner .container .group-input{
    width: 70%;
}*/

/* line 247, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
/*#content .main-banner .container .website .form-control {
    border-radius: 4px 0 0 4px ;
    border: 2px solid #6EB804;
    padding-right: 70px;
    font-weight: 400 !important;
    -webkit-box-shadow: none !important;
}*/

/* line 255, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
/*#content .main-banner .container .website .has-label-icon {
    padding-left: 42px;
    width: 100% !important;
}*/

/* line 259, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
/*#content .main-banner .container .website .input-lg {
    height: 74px;
    color: #222934;
    font-size: 18px;
    line-height: 1.3333333;
}*/

/* line 271, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
/*#content .main-banner .container .align-to-banner {
    padding-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-top: 10px;
}*/

/* line 278, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
/*
#content .main-banner .container .kt {
    border-radius: 0 5px 5px 0;
    max-width: 30%;
    display: inline;
    color: #fff;
    background: #6EB804;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    position: relative;
    font-weight: 700;
    font-size: 15px;
    padding: 17px 60px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
    border:2px solid #6eb804;
}
*/

/*.kt span{
    position: relative;
    z-index: 1;
    font-family: 'Lora', serif;
    font-size: 20px;
    font-weight: bold;
}*/

/* line 290, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
/*#content .main-banner .container .btn-lg {
    height: 74px;
    padding: 10px 16px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3333333;
    outline: none;
}*/

/*}
  }*/
iframe{
    width: 500px;
    height: 300px;
}
.map {
    text-align: center;
}
/* line 434, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.back-to-top {
    position: fixed;
    right: 1%;
    bottom: -7.5%;
    height: 15px;
    width: 40px;
    padding: 3px 5px;
    font-size: 10px;
    font-weight: bold;
    color: transparent;
    opacity: 0.5;
    z-index: 3;
    visibility: hidden;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.25s ease-in-out;
    background-color: #6EB804;
}

/* line 453, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.back-to-top:hover, .back-to-top:focus {
    opacity: 1;
    text-decoration: none;
}

/* line 459, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.back-to-top:focus {
    outline: thin dotted;
}

/* line 464, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.back-to-top::before,
.back-to-top::after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top: 0;
    bottom: 0;
    z-index: 5;
    border-bottom: 20px solid #000000;
}
/*--------------------*/

#ourteam{
    background: url(../img/team_bgr.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    overflow: -webkit-paged-x;
}

#ourteam:before{
    opacity: .75;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.h3{
    font-family: 'Lora', serif;
    font-size: 15px;
    color: #222;
    text-align: center;
}

#ourteam .intro{
    text-align: center;
    margin: 5%;
    position: relative;
    padding-bottom:5px;
    margin-bottom: 60px;
}
#ourteam .intro:before{
    margin: 0 auto;
    background-color: #6EB804;
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    max-width: 50px;
    box-sizing: border-box;
}
#ourteam .intro:after{
    bottom: 6px;
    max-width: 150px;
    margin: 0 auto;
    background-color:#6EB804;
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
}
.wrapper_team{
    max-width: 100%;
    position: relative;
    height: 100px;
}
.wrapper_team .member1{
    width: 49%;
    position: absolute;
    left: 0;

}
img{
    max-width: 100%;
}
.wrapper_team .member2{
    width: 49%;
    position: absolute;
    right: 0;
}
#ourteam .wrapper_team .member1{
    text-align: left;
    display: block;
    padding: 0 5px;
    background-color: #7e8481;
}
#ourteam .wrapper_team .member2{
    text-align: left;
    display: block;
    padding: 0 5px;
    background-color: #7e8481;
}


#ourteam .wrapper_team .member1 .profile {
    vertical-align: top;
    margin-top:3%;
}
#ourteam .wrapper_team .member2 .profile {
    vertical-align: top;
    margin-top:3%;
}

#ourteam .wrapper_team .member1 .profile .social .ft_icon{
    text-align: center;
    padding:5px;
    margin-right: 5px;
    margin-top: 20px;
}
#ourteam .wrapper_team .member2 .profile .social .ft_icon{
    text-align: center;
    padding:5px;
    margin-right: 5px;
    margin-top: 20px;
}
#ourteam .wrapper_team .member1 .profile .social .ft_icon i{
    background: url(../img/iconft-bg.png) no-repeat center;
    background-size: cover;
    height: 46px;
    width: 40px;
    font-size: 20px;
    line-height: 2.5;
}
#ourteam .wrapper_team .member2 .profile .social .ft_icon i{
    background: url(../img/iconft-bg.png) no-repeat center;
    background-size: cover;
    height: 46px;
    width: 40px;
    font-size: 20px;
    line-height: 2.5;
}
#ourteam .wrapper_team .member1 .profile .social .ft_icon .fa{
    color:white;
}
#ourteam .wrapper_team .member2 .profile .social .ft_icon .fa{
    color:white;
}
.nopadding{
    padding-left: 0 !important;
}
.padding-right{
    padding-right: 0 !important;
}
#ourteam strong {
    font-size: 20px;
    color: rgba(37,42,44,1);
    font-family: 'Lora', serif;
    width: 100%;
    display: block;
//padding-bottom: 5px;
}
#ourteam span{
    color: #6eb804;
    position: relative;
    padding-bottom: 5px;
}
#ourteam span:after {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0;
    height: 3px;
    background-color: #dddede;
    width: 50px;
    border-radius: 3px;
}

#ourteam p {
    margin-top: 15px;
}
/*-------------------*/
#contact input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px #2b333f solid;
    font-size: 16px;
    padding: 0 20px 0 20px;
    background-color: rgba(0,0,0,0.03);
    display: inline;
    height: 45px;
    background-image: none;
    border-radius: 4px;
    width: 100%;
    max-width: 100%;
    line-height: 45px;
    outline: none;
}
#contact input:focus{
    border-bottom: 3px #6eb804 solid;

}
textarea{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px #4d4f50 solid;
    font-size: 16px;
    padding: 0 20px 0 20px;

    background-color: rgba(0,0,0,0.03);
    display: block;
    height: 100px;
    background-image: none;
    border-radius: 4px;
    width: 100%;
    max-width: 100%;
    line-height: 45px;
    outline: none;
}
textarea:focus{
    border-bottom: 3px #6eb804 solid;

}

a.btn_hover:hover {
    text-decoration: none;
}

.btn_hover {
    height: 51px;
    min-width: 218px;
    color: black;
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    display: inline-block;
    border: 1px solid #6eb804;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    background-color: #f7f7f7;
    text-decoration: none;
}

.btn_hover .hover-text {
    color: #fff;
    opacity: 1;
    position: absolute;
    left: 55%;
    opacity: 0;
    -webkit-transform: skew(42deg) translateX(-39px);
    -moz-transform: skew(42deg) translateX(-39px);
    -ms-transform: skew(42deg) translateX(-39px);
    -o-transform: skew(42deg) translateX(-39px);
    transform: skew(42deg) translateX(-39px);
}
.hover-text.enter {
    left: 57%;
    opacity: 1;
    -webkit-transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.5s;
    -moz-transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.5s;
    -ms-transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.5s;
    -o-transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.5s;
    transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.5s;
}
.hover-text.leave {
    left: 100%;
    opacity: 0;
    -webkit-transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.3s, opacity 0.5s;
    -moz-transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.3s, opacity 0.5s;
    -ms-transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.3s, opacity 0.5s;
    -o-transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.3s, opacity 0.5s;
    transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.3s, opacity 0.5s;
}
.hover-text.reset {
    left: 55%;
    opacity: 1;
}

.btn_hover .hover-bg {
    display: block;
    background-color: #6eb804;
    width: 122%;
    height: 102%;
    position: absolute;
    -webkit-transform: skew(-42deg);
    -moz-transform: skew(-42deg);
    -ms-transform: skew(-42deg);
    -o-transform: skew(-42deg);
    transform: skew(-42deg);
    left: -133%;
    top: 0;
    z-index: 4;
    overflow: hidden;
    line-height: 55px;
}
.hover-bg.enter {
    left: -11%;
    -webkit-transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.hover-bg.leave {
    left: 111%;
    -webkit-transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: left 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.hover-bg.reset {
    left: -133%;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

/*----------END SERVICE--------*/

/*------What is SEO------*/
#WIS{
    background: url("../img/bg_1.jpg") no-repeat center;
    position: relative;
    background-size: cover;
    padding: 0px 0 40px;

}
#WIS:before{
    opacity: .95;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
#WIS .intro{
    text-align: center;
    margin: 5%;
    position: relative;
    padding-bottom:5px;
    margin-bottom: 60px;
}
#WIS .intro:before{
    margin: 0 auto;
    background-color: #6EB804;
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    max-width: 50px;
    box-sizing: border-box;
}
#WIS .intro:after{
    bottom: 6px;
    max-width: 150px;
    margin: 0 auto;
    background-color:#6EB804;
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
}
#WIS .icon_wis {
    background-size: cover;
    position: absolute;
    width: 60px;
    height: 60px;
    margin: auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    transition: all ease-in-out 0.3s;
}
#WIS .border-WIS:hover .icon_wis{
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
#WIS .border-WIS:hover{
    border:1px solid #6EB804;
}
#WIS .border-WIS:before{
    content: ' ';
    position: absolute;
    background-color: #6EB804;
    top: 1px;
    right: 1px;
    left: 1px;
    bottom: 1px;
    transform: scale(0);
    transition: opacity .25s ease-in-out,transform .55s ease-in-out,-webkit-transform .55s ease-in-out;
    opacity: 0;

}
#WIS .border-WIS:hover:before{
    transform: scale(1);
    opacity: .8;

}
.icon_chart{
    background: url("../img/chart.png") no-repeat center;

}
.icon_money{
    background: url("../img/money.png") no-repeat center ;
}
.icon_request{
    background: url("../img/more_request.png") no-repeat center ;
}
.icon_awareness{
    background: url("../img/people_aw.png") no-repeat center ;
}
div.outer_icon {
    width: 100px;
    height: 100px;
    margin: 40px auto;
    background-color:#6eb804;
    /* Rotate div */
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    transition: all ease-in-out 0.3s;
}
.description_icon{
    font-size: 18px;
    font-family: 'Lora', serif;
    text-align: center;
    margin-bottom: 15px;
}
.border-WIS{
    height: 250px;
}
.border-WIS:hover .outer_icon {
    background-color: black;
    /* Rotate div */
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
.border-WIS:hover .description_icon {
    position: relative;
   color:white;
}

.border{
    border:1px solid black;
}

.back-to-top::before {
    top: -20px;
    z-index: 4;
    border-bottom: 20px solid #6EB804;
}

.back-to-top:hover,
.back-to-top:focus {
    height: 40px;
    color: #6EB804;
}

.show-back-to-top {
    display: block;
    bottom: 9%;
    visibility: visible;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


#network{
    position: absolute;
    z-index: 0;
    top: 615px;
    left: 0;
    max-width: 100%;

}

#text{
    padding: 0 0px 100px 0 ;
}
#text h4{
    color:#9d9f9f;
    font-size:17px ;
}
#text h3{
    font-weight: 600;
    font-size: 21px;
}
.right{
    margin: 0 70px;
}
.presentation {
    padding: 60px 0;
}

/* line 547, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */


/* line 553, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */


/* line 557, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */


/* line 574, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.presentation .container hr.short {
    width: 70px;
    margin: 15px 0;
    height: 3px;
    background: #2b333f;
}

/* line 580, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.presentation .container h1.head {
    font-size: 32px;
    color: #2b333f;
    line-height: normal;
    font-family: 'Lora', serif;
    margin: 0;
}

/* line 583, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.presentation .container h2.head {
    font-size: 28px;
    color: #656e7b;
    line-height: normal;
    font-family: 'Lora', serif;
    margin: 5px 0 0 0;
}

/* line 589, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.gray {
    background-color: #f5f5f5;
}

/* line 590, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
/*.padded {
    padding: 34px 0;
}*/
.hover_hidden:hover {
    transform: scale(1.08);
    overflow: hidden;
}
.hover_hidden:hover h3{
    color:#6eb804;

}


.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.footer .no-left-padding {
    padding-left: 0px;
}

.footer h4 {
    font-size: 24px;
    margin: 0 0 10px 0;
    color: #6EB804;
    /*font-family: 'Lora', serif;*/
    font-weight: normal;
    text-align: left;
}

.footer .container .social-column .icon {
    font-size: 22px;
    margin-left: 10px;
}

.footer .container ul {
    display: block;
    padding: 8px 0;
    list-style: none;
    margin: 0;
}

/* line 616, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.footer .container ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* line 620, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.footer .container ul li a {
    display: block;
    color: #667080;
    transition: all 200ms ease;
}

/* line 625, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.footer .container ul li a:hover {
    text-decoration: none;
    color: #6EB804;
}

/* line 632, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.footer .container .footer-column {
    font-size: 16px;
    margin:3% 0;
}
.fa{
    color: #6eb804;
}
.social{
    text-align: left;
    transform: translatez(0);
    margin-left: 0;
    margin-top: 29px;
}

.social li{
    width: 50px;
    height: 64px;
    display: inline-block;
    margin: 0;
    list-style: none;
}
.social li a{
    width: 35px;
    height: 35px;
    color: #6eb804;
    font-size: 1.5em;
    text-align: center;
    background-color: #fff;
    transition: all 0.5s ease;
    border-radius: 4px;
    line-height: 38px;
}
.social li a:hover{
    transform: rotate(360deg);
    border-radius: 100px;
}
.social li span{

    display: block;
    padding: 15px 0px;
    color: #6eb804;
    font-family: 'Lora', serif;
    font-size: 12px;
    text-align: left;
}

/* line 641, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.footer .container .footer-column:last-child {
    padding-top: 0;
    border: none;
}

/* line 645, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.footer .container .footer-column .input-group {
    display: block;
    height: 54px;
}
.footer .container .footer-column .input-group .icon.link2{
    position: absolute;
    top: 50%;
    transform: translateY(-35%);
    left: 10px;
    font-size: 24px;
    z-index: 5;

}

/* line 647, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.footer .container .footer-column .input-group .label-icon {
    height: 54px;
    line-height: 58px;
    margin: 5px 0 10px 0;
    position: absolute;
    z-index: 3;
    font-size: 24px;
    top: 0;
    left: 0;
    font-weight: 300;
    padding: 0;
    width: 48px;
    vertical-align: middle;
    text-align: center;
    color: #7f7f7f;
}

/* line 665, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.footer .container .footer-column .form-control {
    height: 54px;
    margin: 5px 0 10px 0;
    font-size: 16px;
    border-radius: 4px !important;
    -webkit-box-shadow: none !important;
}

/* line 673, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.footer .container .footer-column .has-label-icon {
    padding-left: 42px;
    width: 100% !important;
}

/* line 677, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.footer .container .footer-column .input-lg {
    line-height: 1.3333333;
    color: #222934;
}

/* line 682, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.footer .container .footer-column .btn {
    width: 100%;
    height: 54px;
    margin-top: 5px;
}

/* line 687, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.footer .container .footer-column .cta {
    color: #fff;
    background: #6EB804;
    border: none;
    transition: all 240ms ease;
    display: block;
}

/* line 694, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.footer .container .footer-column .btn-md {
    font-size: 24px;
    font-weight: 500;
    padding: 10px 3px;
}



/* contact */
.footer .contact{
    background-color: #6eb804;
    padding: 30px;
}
.footer .contact .contact1{
    text-align: left;
    position: relative;
}

.footer .contact .contact1:first-child:before {
    display: none;
}

.footer .contact .contact1:before {
    position: absolute;
    content: '';
    width: 1px;
    height: 40px;
    background-color: rgba(255,255,255,.2);
    top: 7px;
    z-index: 10;
    left: 0;
}

.footer .contact .contact1 .contact-title{
    color: #2C2C2C;
    font-size: 16px;
    font-weight: 700;
}
.footer .contact .contact1 .contact-title .slz-icon{
    color: #2C2C2C;
    padding-right: 10px;
}
.footer .contact .contact1 .contact-title .text{
    display: inline-block;
}
.footer .contact .contact1 .contact-content .text{
    color:#FFFFFF;
}
/* /cntact */
/* line 700, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.footer .container .footer-column .btn {
    border-radius: 3px;
    font-family: 'Lora', serif;
}
.footer.black{
    background-color:#2c2c2c;
}
/* line 708, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.footer.black .last {
    font-size: 18px;
    color: #ffffff;
    background-color: #222222;
    text-align: center;
}

.footer.black .last .copy {
    display: inline-block;
    text-align: center;
    padding: 15px 0;
}

.footer.black .last .text-primary {
    color: #6EB804;
}
.footer.black .last .text-primary {
    color: #6EB804;
}


/*register*/
/* line 717, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.modal {
    background: rgba(0, 0, 0, 0.5);
}

/* line 719, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.modal .modal-vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

/* line 727, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
#toolbox-register-modal .modal-dialog {
    max-width: 500px;
}

/* line 730, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
#toolbox-register-modal .modal-vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

/* line 735, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
#toolbox-register-modal .modal-body {
    background-color: #F3F3F3;
    color: #222;
}

/* line 739, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
#toolbox-register-modal .register-form {
    margin: auto;
    float: none;
}

/* line 747, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.login-register-modal .modal-content {
    width: inherit;
    height: inherit;
    max-width: 600px;
    margin: 0 auto;
    pointer-events: all;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #555;
}

/* line 759, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.login-register-modal .modal-body {
    background: #F3F3F3;
    border: 1px solid #FFF;
    border-radius: 4px;
}

/* line 764, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.login-register-modal .modal-body .close {
    color: #222;
    opacity: 0.5;
    font-size: 18px;
    margin-top: 3px;
}

/* line 771, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.login-register-modal .form-container {
    padding: 15px 15px 0 15px;
}

/* line 774, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.login-register-modal .form-container h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

/* line 779, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.login-register-modal .form-container .input-group {
    width: 100%;
    margin-bottom: 15px;
    transition: all 240ms ease;
}

/* line 783, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.login-register-modal .form-container .input-group .label-icon {
    position: absolute;
    z-index: 3;
    font-size: 24px;
    top: 0;
    left: 0;
    font-weight: 300;
    padding: 0;
    margin: 0;
    width: 48px;
    vertical-align: middle;
    text-align: center;
    color: #7f7f7f;
}

/* line 797, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.login-register-modal .form-container .input-group .medium {
    height: 64px;
    line-height: 66px;
    z-index: 10;
}

/* line 801, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.login-register-modal .form-container .input-group .input-md {
    height: 64px;
    margin: 0;
    font-size: 18px;
}

/* line 806, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.login-register-modal .form-container .input-group .has-label-icon {
    padding-left: 42px;
    width: 100% !important;
}

/* line 810, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.login-register-modal .form-container .input-group .form-control {
    font-weight: 400 !important;
    border-radius: 4px !important;
    -webkit-box-shadow: none !important;
}

/* line 816, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.login-register-modal .form-container .btn {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 3px;
    font-family: 'Lora', serif;
}

/* line 822, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.login-register-modal .form-container .cta {
    color: #fff;
    background: #6EB804;
    border: none;
    transition: all 240ms ease;
    display: block;
}

/* line 829, G:/Đo_an_chuyen_nghanh/SEO/scss/main.scss */
.login-register-modal .form-container .btn-md {
    font-size: 24px;
    font-weight: 500;
    height: 64px;
    padding: 10px 3px;
}
a .pull-left .switch-modal-to-change-password {
    color: black;
    text-decoration: none;
}
a .pull-left .switch-modal-to-change-password:hover {
    color: #6eb804;
}
/*/register*/

/*# sourceMappingURL=../css/main.map */

/*result*/
.on_page [class^="col-"]{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    border: 1px solid #ddd;
    background-color: rgba(86,61,124,.15);
    margin-right: 1px;
}
.on_page{
    box-sizing: border-box;
    margin-top: 1px;
    margin-bottom: 1px;
}

#standard_SEO{
    margin-bottom:100px;
}

.bd{
    border-left:1px solid black;
    border-bottom: none;
    font-family: 'Lora', serif;
    font-size: 20px;
    position: relative;
}
.title_css{
    background-color:#6eb804 ;
    border-radius: 4px 4px 0 0 !important;
    text-transform: uppercase;
    font-family: 'Lora', serif;
    font-size: 18px;
}
.padded_result{
    padding: 15px;

}
.css_text{
    font-size: 19px;
    font-family: 'Lora', serif;
    font-weight: 600;
}
.row.the1{
    border:1px solid #e1e1e1;
    border-top:none;
    height: auto;
}
.row.the1 .column{
    border-left:1px solid #e1e1e1;
    height: auto;

}



/*end result*/


/* profile */
#profile{
    margin: 8% auto;
}

#profile .input-group{
    margin: 2% 0;
}

/*-------------------------------------------------------page result------------------------------------*/
.css_border{
    border: 1px solid black;
    border-top:none;
}
/*----------------------------------------------------result-header*-----------------------------------/

/*---------------------------------------------------css highchart-------------------------------------*/

#Overview{
    box-sizing: content-box;
}
.center{
    max-width: 350px;
}

#container-speed{
    height: 200px;
    margin: 0 50px auto;
}
#results-header{
    text-align: center;
    margin-top:4%;
}
#download-report .btn{
    width: 30%;
    color:white;
    background-color: white;
    position: relative;
    border: 1px solid #6eb804;
    outline: none;
    border-radius: 0;
}
#download-report .btn:before{
    content: " ";
    position: absolute;
    top:1px;
    bottom: 1px;
    right: 1px;
    left: 1px;
    z-index: 0;
    background-color: #6EB804;

}

/*----------------CSS FUNCTION-------------------*/
.h2{
    font-family: 'Lora', serif;
    font-size: 35px;
    color: #222;
    font-weight: bold;
}
.url-name {
    font-size: 20px;
    margin-bottom: 10px;
    word-break: break-all;
}
.intro{
    text-align: center;
    margin: 5% auto;
    position: relative;
    padding-bottom:5px;
    margin-bottom: 60px;
}
.intro:before{
    margin: 0 auto;
    background-color: #6EB804;
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    max-width: 50px;
    box-sizing: border-box;
}
.intro:after{
    bottom: 6px;
    max-width: 150px;
    margin: 0 auto;
    background-color:#6EB804;
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
}
#function-tool .function{
    position: relative;
    color: #fff;
    text-align: center;
    padding: 148px 16px 52px;
    border: 1px solid #6EB804;
    z-index: 0;
    transition: border-color .55s;
}
#function-tool .function:before{
    transition: background-color .55s;
}
#function-tool .function:before, #function-tool .function .icon:before{
    content: " ";
    position: absolute;
    top:1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background-color: #6EB804;
    z-index: -1;
}
#function-tool .function:hover, #function-tool .function.active{
    border-color: black;
}
#function-tool .function.active:before, #function-tool .function:hover:before{
    background-color: black;
}
#function-tool .function:hover .icon, #function-tool .function.active .icon{
    top:-35px;
}

#function-tool .function .icon{
    position: absolute;
    top:56px;
    left: 0px;
    right: 0;
    width: 70px;
    margin: 0 auto;
    box-sizing: border-box;
    line-height: 66px;
    transition: top .55s ease-in-out;
    border:1px solid #6EB804;
    z-index: 0;
}
#function-tool img{
    vertical-align: middle;
    max-width: 100%;
}
#function-tool .h4{
    color: #fff;
    line-height: 28px;
    font-size: 20px;
}
#function-tool .flipped{
    position: absolute;
    top: 80%;
    left: 0px;
    right: 0px;
    transform:translateY(-50%);
    margin: 0 15px;
    opacity: 0;
    visibility: hidden;
    transition-property: top,opacity,visibility;
    transition-duration: .55s;
    transition-timing-function: ease-in-out;
}
#function-tool .function.active .flipped{
    top:50%;
    opacity: 1;
    visibility: visible;
}
#function-tool .function.active>.title{
    opacity: 0;
    visibility: hidden;
}
#function-tool .function:hover .flipped{
    top: 50%;
    opacity: 1;
    visibility: visible;
}
#function-tool .function>.title{
    opacity: 1;
    visibility: visible;
    transition-property: opacity,visibility;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
}
#function-tool .function:hover>.title{
    opacity: 0;
    visibility: hidden;
    transition-property: opacity,visibility;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
}
.distance-bottom{
    margin-bottom: 5%;
}
/*------------------------demo video-------------------------*/
#Demo{
    background-color: #efefef;
    padding-bottom: 30px;
}
#Demo .intro-text{
    font-size: 18px;
}
#Demo .intro-text{
    font-size: 18px;
}
#Demo .video{
    position: relative;
    text-align: center;
    z-index: 0;
}
#Demo .video a{
    display: block;
    padding: 4px;
    border:1px solid transparent;
    border-radius: 50%;
    transition: border-color .55s;
    position: relative;
    outline: none;
    z-index: 0;
    text-decoration: none;
}
#Demo .video a:before{
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    transform: scale(0);
    opacity: 0;
    border-radius: 50%;
    -webkit-transform: scale(0);
    background-color:#6EB804;
    transition: opacity .25s ease-in-out,transform .55s ease-in-out,-webkit-transform .55s ease-in-out;
    z-index: 0;
    box-sizing: border-box;

}
#Demo .video a:hover:before{
    transform: scale(1);
    opacity: .8;
    transition: opacity .25s ease-in-out,transform .55s ease-in-out,-webkit-transform .55s ease-in-out;
}
#Demo img{
    height: auto;
    vertical-align: middle;
}
#Demo .video .fa{
    position: absolute;
    top: 46%;
    left: 9px;
    right: 0;
    font-size: 25px;
    line-height: 37px;
    height: 40px;
    z-index: 1;
    color: white;
}
#Demo .video .fa:hover{
    color:#6EB804 ;
}
#Demo .video .fa:after{
     content: " ";
     position: absolute;
    top: 0;
    left: -4px;
    right: 0;
    width: 28%;
    height: 292%;
     background-color:#6EB804;
     border-radius: 50%;
     opacity: .8;
     margin: -10% auto 0;
     transition: background-color .25s ease-in-out;
     box-sizing: border-box;
     z-index: -1;
}
#Demo .video a:hover .fa:after{
    background-color:#fff;
}
#Demo .video a:hover {
    border-color: #6EB804;
}
/*--------------------------------navtop analytic result-------------------------------------*/
.topnav {
    overflow: hidden;
    background-color: #f2f2f2;
    position: fixed;
    z-index: 5;
    margin-left: 6.7%;
}
.topnav-placeholder{
    z-index: -9999;
    opacity: 0;
    overflow: hidden;
    background-color: #f2f2f2;
}
.topnav-placeholder a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 4px solid black;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.nav-active {
    border-bottom: 6px solid black;
}
#speed{
    /*background-color: #0a68b4;*/
    /*height: 500px;*/
}
#mobile{
    /*background-color: #00a5bb;*/
    /*height: 500px;*/

}
.btn-sweet{
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 5px 10px 5px 10px;
    background: #B9160D no-repeat center left;
    text-decoration: none;
    /* float: left; */
    /* margin: 10px 0 15px 0; */
    border-radius: 3px;
    border: none;
    display: block;
}
.btn-tip{
    background-color: #dece1d!important;
}
.mar-t{
    margin-top: 10px;
}
.margin-tooltip{
    margin:5%;
}
.report-icon{
    width: 3%;
    display: inline-block;
    vertical-align: top;
}
.analytic-detail{
    display: inline-block;
    width: 96%;
    font-size: 16px;
    word-break: break-all;
}
.fa-times-circle{
    color: red;
}
.fa-info-circle{
    color:#F2E01F;
}
i.fa.fa-question-circle-o {
    color: #929292;
}
div#download-report {
    width: 74%;
    margin-bottom: 2%;
}
h6.h6 {
    margin: 0 auto 3px;
    font-size: 20px;
    color: #969fac;
}
.topnav .fa{
    font-size: 20px;
    margin-top: 5px;
    font-weight: 600;
    color: #969fac;
}
.view-h{
    line-height: 1.5;   
    height: 100px;
    overflow: hidden;
}
.view-link{
    line-height: 1.5;   
    height: 75px;
    overflow: hidden;
}
.view-exter{
    line-height: 1.5;   
    height: 75px;
    overflow: hidden;
}
.height-inherit, .height-link, .height-exter{
    height: inherit;
}
.btn-view-less, .btn-view-less-link, .btn-view-less-exter{
    color: #000!important;
    position: relative;
}
a.btn-view-less, a.btn-view-less:hover, 
a.btn-view-less-link, a.btn-view-less-link:hover,
a.btn-view-less-exter, a.btn-view-less-exter:hover{
    font-size: 14px;
    text-decoration: underline!important;
    position: relative;
    left: 3.6%;
    border-radius: 3px;
    text-decoration: none;
    color: #6eb804!important;
    font-weight: 600;
}
.style-robot{
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 0 10px;
    background-color: #efefef;
}
.count-link{
    font-size: 16px;
}
/*--------------------------------Profile-------------------------------*/
#profile .input-group{
    /*display: inline-block;*/
}
.wrapper_profile{
    margin: 0 20%;
}
.font-fa {
    margin-right: 10px;
    font-size: 20px;
}
.width-profile{
    width: 60%;

}
/* Tool*/
.tool-wrapper {
    padding: 0 10px;
    min-height: 220px;
    margin-bottom: 40px;
}
.tool-wrapper a{
    width: 100%;
    float: left;
    border: 1px solid #CCC;
    text-align: center;
    transition: all ease .2s;
    color: #193A51 !important;
}
.tool-wrapper a:hover {
    border: 1px solid #9B9B9B;
    box-shadow: 1px 1px 8px 1px #E4E2E2 inset;
    text-decoration: none;
}
.tool-wrapper .fa, .tool-wrapper .glyphicon {
    color: #3c3c3c;
}
.tool-footer {
    background: #6eb804;
    padding: 5px;
    transition: all ease .2s;
    text-align: center;
    color: rgba(255,255,255,1);
    display: table-cell;
    height: 60px;
    vertical-align: middle;
    width: 358px;
    font-size: 18px;
}
.tool-wrapper a:hover i {
    color: #0e8049;
}
.tool-wrapper a i.fa, .tool-wrapper a i.glyphicon {
    font-size: 100px;
    padding-top: 30px;
}
.tool-wrapper a i {
    font-size: 70px;
    width: 100%;
    display: block;
    min-height: 165px;
    padding: 10px;
    transition: all ease .2s;
}
.inputBox {
    border: 1px solid #ccc;
    padding: 2%;
    height: 80px;
    width: 100%;
}
.btn-green{
    background: #6eb804;
    color: rgba(255,255,255,1);
    border: 2px solid #6eb804;
}
.btn-green:focus, .btn-green:hover {
    color: rgba(255,255,255,1);
}
.btn-red{
    background: #B9160D no-repeat center left;
    color: rgba(255,255,255,1)!important;
    font-weight: 600;
}
.btn-green:focus, .btn-green:hover {
    color: rgba(255,255,255,1)!important;
}
.text-muted {
    color: #777;
}
.inputstyle {
    margin-top: 2%;
}
.inputstyle input {
    width: 10%;
    border: 1px solid #6eb804;
    padding: 3px 0 3px 5px;
}
.fl-right{
    float: right;
}
.bg-error{
    margin-top: 10px;
    padding: 15px;
    font-weight: bold;
    color: #ff0000;
    border: 1px solid #fd0000;
    border-radius: 10px;
}
#recent-tasks-section {
    position: relative;
}
#contextMenu {
    position: absolute;
    display: none;
}
#menu-delete {
    height: 32px;
    font-size: 110%;
    padding-top: 5px;
}
.iphone{
    position: relative;
    height: 100%;
    width: auto;
}
.get-content{
    position: absolute;
    left: 6.4%;
    top: 17.5%;
    height: 67.9%;
}
div#mobileSnapshoot {
    height: 500px;
    width: 300px;
}

/*-----------------------------------------Speed--------------------------------------*/

#speed, #backlink{
    margin-bottom: 5%;
}
#mobile{
    margin-bottom: 5%;
}

/* Plagiarism Checker */
.fm-checker{
    margin:0px;
    position: relative;
}
.btn-check{
    width: 200px;
    text-align: center;
    margin-top: 10px;
    position: absolute;
}
/*------------------------------------------how to fix----------------------------------------------*/
.modal-vertical-alignment-helper{
    display: table;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.modal-vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events: all;
}
.modal-content{
    margin: 0 auto;
    width: inherit;
    pointer-events: all;
}
.modal-body{
    word-break: break-word;
}
.modal-header{
    background-color: #6EB804;
}
.button-close{
    background-color: #6EB804;
}
/*----------------------------*/
.input-md, .input-md:focus{
    border-color: #6EB804;
}
/*-----------------------------*/
.modal-footer{
    padding: 5px;
}
/*------------------------------*/
.color-nav
{
    color: #6EB804 ;
}

.windows8 {
    position: relative;
    width: 18px;
    height:18px;
    margin:auto;
}

.windows8 .wBall {
    position: absolute;
    width: 17px;
    height: 17px;
    opacity: 0;
    transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    animation: orbit 3.3225s infinite;
    -o-animation: orbit 3.3225s infinite;
    -ms-animation: orbit 3.3225s infinite;
    -webkit-animation: orbit 3.3225s infinite;
    -moz-animation: orbit 3.3225s infinite;
}

.windows8 .wBall .wInnerBall{
    position: absolute;
    width: 2px;
    height: 2px;
    background: rgb(255,255,255);
    left:0px;
    top:0px;
    border-radius: 2px;
}

.windows8 #wBall_1 {
    animation-delay: 0.726s;
    -o-animation-delay: 0.726s;
    -ms-animation-delay: 0.726s;
    -webkit-animation-delay: 0.726s;
    -moz-animation-delay: 0.726s;
}

.windows8 #wBall_2 {
    animation-delay: 0.143s;
    -o-animation-delay: 0.143s;
    -ms-animation-delay: 0.143s;
    -webkit-animation-delay: 0.143s;
    -moz-animation-delay: 0.143s;
}

.windows8 #wBall_3 {
    animation-delay: 0.2865s;
    -o-animation-delay: 0.2865s;
    -ms-animation-delay: 0.2865s;
    -webkit-animation-delay: 0.2865s;
    -moz-animation-delay: 0.2865s;
}

.windows8 #wBall_4 {
    animation-delay: 0.4295s;
    -o-animation-delay: 0.4295s;
    -ms-animation-delay: 0.4295s;
    -webkit-animation-delay: 0.4295s;
    -moz-animation-delay: 0.4295s;
}

.windows8 #wBall_5 {
    animation-delay: 0.583s;
    -o-animation-delay: 0.583s;
    -ms-animation-delay: 0.583s;
    -webkit-animation-delay: 0.583s;
    -moz-animation-delay: 0.583s;
}



@keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin:0%;
    }

    30% {
        opacity: 1;
        transform:rotate(410deg);
        animation-timing-function: ease-in-out;
        origin:7%;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin:30%;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin:39%;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin:70%;
    }

    76% {
        opacity: 0;
        transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        transform: rotate(900deg);
    }
}

@-o-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -o-transform: rotate(180deg);
        -o-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -o-transform: rotate(300deg);
        -o-animation-timing-function: linear;
        -o-origin:0%;
    }

    30% {
        opacity: 1;
        -o-transform:rotate(410deg);
        -o-animation-timing-function: ease-in-out;
        -o-origin:7%;
    }

    39% {
        opacity: 1;
        -o-transform: rotate(645deg);
        -o-animation-timing-function: linear;
        -o-origin:30%;
    }

    70% {
        opacity: 1;
        -o-transform: rotate(770deg);
        -o-animation-timing-function: ease-out;
        -o-origin:39%;
    }

    75% {
        opacity: 1;
        -o-transform: rotate(900deg);
        -o-animation-timing-function: ease-out;
        -o-origin:70%;
    }

    76% {
        opacity: 0;
        -o-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }
}

@-ms-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -ms-origin:0%;
    }

    30% {
        opacity: 1;
        -ms-transform:rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -ms-origin:7%;
    }

    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -ms-origin:30%;
    }

    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:39%;
    }

    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:70%;
    }

    76% {
        opacity: 0;
        -ms-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }
}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:0%;
    }

    30% {
        opacity: 1;
        -webkit-transform:rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin:7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:70%;
    }

    76% {
        opacity: 0;
        -webkit-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }
}

@-moz-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin:0%;
    }

    30% {
        opacity: 1;
        -moz-transform:rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin:7%;
    }

    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin:30%;
    }

    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:39%;
    }

    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:70%;
    }

    76% {
        opacity: 0;
        -moz-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }
}

.text-align-left{
    text-align: left;
}

.old-seo-data{
    background-color: #ffeef0;
}

.old-background-iphone{
    position: absolute;
    float: right;
    height: 500px;
    left: 92%;
    top: 0;
}

.old-mobile-snapshoot{
    left: 99%;
}