
/*Laptop ngang(1024 x 800)*/
@media screen and (max-width: 1920px) {
}
@media all and (max-width: 1400px) {
    #content .form-group {
        box-sizing: border-box;
        margin-left: 20%;
        width: 60%;
        margin-top: 8%;
    }

}
@media screen and (max-width: 1024px) {
    #Demo .video .fa {
        top: 42%;
        height: 34px;
    }
    .topnav {
        margin-left: 2.6%;
    }
    #score {
        margin-left: 8%;
    }
}
/*Ipad dọc(768 x 1024)*/
@media all and (max-width: 769px){
    #content .form-group {
        box-sizing: border-box;
        margin-left: 20%;
        width: 60%;
        margin-top: 10%;
    }
    #content .group-input .fa{
        top:37%;
    }
    #content .main-banner .container h1{
        font-size: 30px;
    }
    #content .main-banner .container #changeText{
        font-size: 18px;
    }
    .padd-bottom{
        margin-bottom:6%;
    }
    #Demo .video{
        display: none;
    }
    iframe{
        width: 100%;
    }
    .footer h4{
        font-size: 20px;
    }
    .social{
        display:none;
    }
    #content .group-input input{
        padding: 3% 8%;
    }
    #highchart_score{
        height: 265px;
    }
    #standard_SEO{
        margin-top: 10%;
    }
    .bd{
        border-left: none;
    }
    .topnav {
        margin-left: 1.2%;
    }
    #score {
        margin-left: 3%;
    }
    #history_form {
        width: 730px;
        margin: 13% auto;
    }
    .wrapper_profile {
        margin: 0 17%;
    }
    #score{
        margin-top: 0;
    }
    #container-speed{
        margin: 0 25%;
    }
    div#download-report{
        width: auto;
        margin-bottom: -7%;
    }
    #highchart_score {
        margin-left: 25%;
        margin-top: 5%;
    }
    .bd{
        border-left: none;
    }

}
@media all and (max-width: 600px){
    .wrapper_team .member1{
        width:49%;
    }
    .wrapper_team .member2{
        width:49%;
    }
    .footer .contact .contact1{
        font-size: 10px;
    }
    .footer .contact .contact1 .contact-title .text{
        font-size: 15px;
    }
    #content .form-group{
        margin-left: 15%;
        width: 70%;
    }
    #Demo .video .fa:after {
        top: 10px;
        width: 27%;
        height: 167%;
    }

    .social li a{
        width: 50%;
        height: 40%;
        line-height: 21px;
    }
    .footer .container ul li a .fa{
        font-size: 76%;
    }
    .footer .container ul li{
        margin: -7px;
    }
    .intro h2{
        font-size: 25px;
    }
    .topnav {
        display: none;
        margin: 0 1%;
    }
    #function-tool .content {
        font-size: 10px;
    }

}
@media all and (max-width: 425px){
    #Demo .video .fa {
        top: 41%;
        width: 70%;
        font-size: 18px;
        height: 41px;
        line-height: 37px;
        left: 59px;
    }
    #score {
        margin-left: 27%;
        margin-top: -14%;
    }
    #highchart_score{
        height: 280px;
        margin-left: 5%;
    }
    div#download-report {
        width: auto;
        margin-bottom: 4%;
    }
    #history_form {
        width: 400px;
        margin: 25% auto;
    }
    .wrapper_profile{
        margin: 0 12%;
    }
    #standard_SEO{
        margin-top: auto;
    }
    #function-tool .h4{
       font-size: 16px;
    }
    a.btn-view-less, a.btn-view-less:hover{
        left: 0;
    }
    h6.h6{
        font-size: 12px;
    }
}
@media all and (max-width: 414px){
    #content .form-group{
        margin-left: 5%;
        width: 90%;

    }
    .padd-bottom{
        margin-bottom: 12%;
    }
    #Demo .video .fa:after{
        top: 14px;
        width: 27%;
        height: 97%;
        right: 1%;
    }
    #Demo .video .fa {
        font-size: 15px;
        line-height: 44px;
        height: 62px;
        width: 69%;
        top: 38%;
        left: 54px;
    }
    .description_icon{
        font-size: 15px;
    }
    .btn_hover{
        min-width: 150px;
    }
    .btn_hover{
        min-width: 218px;
    }
    .form_wapper {
        margin-top: 8%;
    }
    .footer h4 {
        font-size: 15px;
    }
    #ourteam strong{
        font-size: 16px;
    }
    #ourteam p{
        font-size: 13px;
    }
    div.outer_icon{
        width: 90px;
        height: 90px;
    }
    .navbar-brand img{
        max-width: 80%;
    }
}
@media all and (max-width: 375px){
    #highchart_score {
        margin-left: -2%;
    }
    #history_form {
        width: 345px;
    }

    .padd-bottom{
        margin-bottom: 12%;
    }
    #Demo .video .fa:after{
        top: 14px;
        width: 27%;
        height: 97%;
        right: 1%;
    }
    #Demo .video .fa{
        font-size: 15%;
    }
    .description_icon{
        font-size: 15px;
    }
    .btn_hover{
        min-width: 150px;
    }
    .btn_hover{
        min-width: 218px;
    }
    .form_wapper {
        margin-top: 8%;
    }
    .footer h4 {
        font-size: 15px;
    }
    #ourteam strong{
        font-size: 16px;
    }
    #ourteam p{
        font-size: 13px;
    }
    div.outer_icon{
        width: 90px;
        height: 90px;
    }
    .navbar-brand img{
        max-width: 80%;
    }
    #highchart_score{
        margin-left: 5px;
        max-width: none;
    }
}
@media all and (max-width: 320px){
    #content .main-banner .container h1 {
        font-size: 24px;
    }
    #content .main-banner .container #changeText {
        font-size: 14px;
    }
    #content .check-url{
        height: 50px;
    }
    #content .check-url span{
        font-size: 12px;
    }
    #content .group-input .fa{
        font-size: 12px;
    }
    #Demo .video .fa {
        line-height: 44px;
        height: 74px;
        width: 75%;
        top: 36%;
        left: 38px;

    }
    #Demo .video .fa:after {
        top: 17px;
        width: 25%;
        height: 64%;
        right: 1%;
    }
    .description_icon {
        font-size: 15px;
    }
    .footer .contact .contact1{
        box-sizing: content-box;
    }
    .footer.black .last .copy{
        font-size: 15px;
    }
    .back-to-top:hover, .back-to-top:focus{
        height: 20px;
    }
    #history_form {
        width: 300px;
    }
    .tool-footer{
        padding:2px;
    }
    .tool-wrapper a i.fa, .tool-wrapper a i.glyphicon{
        font-size: 85px;
    }
    .footer .container .row, .footer .contact{
        display: none;
    }
    #Demo .intro-text, .tool-footer {
        font-size: 15px;
    }
}
